<?xml version="1.0" encoding="UTF-8"?>

<!-- launches an empty world and rviz-->

<launch>
<!-- load empy world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
<!-- spawn ATV-->
    <param name="robot_description" command="cat '$(find ATV_description)/models/polaris_ranger_xp900_no_roll_cage/model.urdf'" />
    <node name="ATV_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model ATV" />
        
    <!-- Starting Joint state publisher node which will publish the joint values -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    
	<!-- Starting robot state publish which will publish tf -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	
	<!-- Launch visualization in rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ATV_description)/config/urdf2.rviz" required="true" />
<!-- launch control: load controllers, activate cmd_vel_to_ackermann_drive node and ackermann_steering node-->
    <include file="$(find ATV_control)/launch/ATV_control.launch"/>
    
</launch>