<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find ATV_control)/config/ATV_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/ATV" args="FR_wheel_position_controller 
                                    FL_wheel_position_controller  
                                    RR_wheel_velocity_controller  
                                    RL_wheel_velocity_controller"/>

  <!-- run node to translate "movement" msg to "ackerman" msg -->
  <node name="custom_to_ackermann" pkg="action_control_unit" type="custom_to_ackermann.py"> </node>

  <!-- run node to compute seering angles and spin velocities of the wheels (reads from /ackermann_cmd, pubblishes on the 4 /command topics, one for each actuator)-->
  <node name="ackermann_steering" pkg="ATV_control" type="ackermann_steering.py"> </node>

  
</launch>