<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find ATV_control)/config/ATV_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/ATV" args="FR_wheel_position_controller 
                                    FL_wheel_position_controller  
                                    RR_wheel_velocity_controller  
                                    RL_wheel_velocity_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/ATV/joint_states" />
  </node>

  <!-- run node to convert teleoperation inputs from twist to hackerman_msgs (reads from /cmd_vel, pubblishes on hackermannvliuesbviuesbviuer)-->
  <node name="cmd_vel_to_ackermann_drive" pkg="ATV_control" type="cmd_vel_to_ackermann_drive.py"> </node>

  <!-- run node for the keyboard teleoprations (pubblishes on /cmd_vel) -->
  <node name="teleop_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py"
    output="screen"> 
  </node>
  

  
</launch>