<launch>
	<arg name="simple_model" />
	
	<!-- Parsing urdf and setting robot_description parameter --> 
	<param name="robot_description" textfile="$(find ATV_description)/models/polaris_ranger_xp900_no_roll_cage/model.urdf" />

	<!-- Starting Joint state publisher node which will publish the joint values -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
        <param name="use_gui" value="TRUE" />
    </node>

	<!-- Starting robot state publish which will publish tf -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<!-- Launch visualization in rviz -->
	<!-- <node name="rviz" pkg="rviz" type="rviz" args="$(find ATV_description)/urdf.rviz" required="true" /> -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ATV_description)/urdf.rviz" required="true" />
</launch>

