<?xml version="1.0" encoding="UTF-8"?>
<launch>
<!-- load empy world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
<!-- spawn ATV-->
    <param name="robot_description" command="cat '$(find ATV_description)/models/polaris_ranger_xp900_no_roll_cage/model.urdf'" />
    
    <node name="ATV_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model ATV" />
<!-- launch control: load controllers, activate cmd_vel_to_ackermann_drive node and ackermann_steering node-->
    <include file="$(find ATV_control)/launch/ATV_control.launch"/>
    
</launch>